<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Alarme chez Elsa & Nico
  </h1>
</div>
<ul>
  <li>
    Alarm On ? : {{alarmStarted}}
  </li>
  <li>
    <button (click)="startAlarm()">Start Alarm</button>
  </li>
  <li>
    <button (click)="showCodePanel()">Stop Alarm</button>
  </li>
  <li *ngIf="codePanelShown">
    <label>Enter security code</label>
    <input type="text" [(ngModel)]="code"
           (keyup.enter)="stopAlarm()">
  </li>
</ul>

